<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/journal/bootstrap.min.css"
    />
    <link rel="stylesheet" href="main.css" />
  </head>

  <body>
    <style>
      .dropdown:hover > .dropdown-menu {
        display: block;
      }
    </style>
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-dark bg-primary"
      >
        <a class="navbar-brand" href="/"
          >Caring Aunt</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span
            class="navbar-toggler-icon"
          ></span>
        </button>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home
                <span class="sr-only"
                  >(current)</span
                ></a
              >
            </li>
          </ul>
          <form
            class="form-inline my-2 my-lg-0"
            action="/logout"
            method="POST"
          >
            <div class="dropdown">
              <button
                class="btn btn-primary dropdown-toggle"
                type="button"
                id="dropdownMenu1"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Have A Doubt?
              </button>
              <div
                class="dropdown-menu"
                aria-labelledby="dropdownMenu1"
              >
                <a class="dropdown-item" href="#"
                  >Blog 1</a
                >
                <a class="dropdown-item" href="#"
                  >Blog 2</a
                >
                <a class="dropdown-item" href="#"
                  >Blog 3</a
                >
                <a class="dropdown-item" href="#"
                  >Blog 4</a
                >
                <a class="dropdown-item" href="#"
                  >Blog 5</a
                >
                <a class="dropdown-item" href="#"
                  >Blog 6</a
                >
                <a class="dropdown-item" href="#"
                  >Blog 7</a
                >
                <a class="dropdown-item" href="#"
                  >Blog 8</a
                >
                <a class="dropdown-item" href="#"
                  >Blog 9</a
                >
                <a class="dropdown-item" href="#"
                  >Blog 10</a
                >
              </div>
            </div>
            <button
              class="btn btn-secondary my-2 my-sm-0"
            >
              Sign Out
            </button>
          </form>
        </div>
      </nav>
    </header>
    <!-- header ends here -->
    <div class="container-fluid">
      <div class="row mt-5 mb-5">
        <div class="col col-lg-3"></div>
        <div class="col col-lg-6">
          <div class="maindiv">
            <div class="border_div">
              <div class="suppress_head">
                <h3></h3>
                  Hello <%=
                  userInfo.user_id.username %>
                </h3>
              </div>
              <div style="padding: 10px;">
                <div class="work_div">
                  <div class="to_clear"></div>
                  <br />
                  User Email &nbsp &nbsp &nbsp
                  &nbsp &nbsp &nbsp &nbsp &nbsp
                  &nbsp &nbsp &nbsp &nbsp<%=
                  userInfo.user_id.email %>
                  <hr />
                  User Phone Number &nbsp &nbsp
                  &nbsp &nbsp <%=
                  userInfo.phone_no %>
                  <hr />
                  Period Cycle &nbsp &nbsp &nbsp
                  &nbsp &nbsp &nbsp &nbsp &nbsp
                  &nbsp &nbsp &nbsp<%=
                  userInfo.cycle_in_days %>

                  <hr />
                  Length Of Your Period &nbsp
                  &nbsp &nbsp &nbsp<%=
                  userInfo.period_length %>
                  <hr />
                  Past Period Date &nbsp &nbsp
                  &nbsp &nbsp &nbsp &nbsp &nbsp
                  &nbsp<%=
                  userInfo.past_period_date %>
                  <hr />
                  Future Period Date &nbsp &nbsp
                  &nbsp &nbsp &nbsp &nbsp <%=
                  userInfo.notifyDate.slice(0,-1)
                  +
                  (parseInt(userInfo.notifyDate.slice(-1))+1)
                  %>
                  <hr />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-3"></div>
      </div>
    </div>

    <!-- footer begins -->
    <footer
      class="border-top text-center small text-muted py-3"
    >
      <p class="m-0">
        Copyright &copy; 2020
        <a href="/home" class="text-muted"
          >Caring Aunt</a
        >.

        <br />Handmade with Love.<br />All rights
        reserved.
      </p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
